<h3>{{parentCategory}}</h3>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Expected Amount</th>
            <th>Actual Amount</th>
            <th>Difference</th>
        </tr>    
    </thead>
    <tbody>
        <tr *ngFor="let comparisonAmount of comparisonAmounts">
            <td>{{comparisonAmount.category | uppercase}}</td>
            <td>{{comparisonAmount.expectedAmount | number:'1.2-2'}}</td>
            <td>{{comparisonAmount.actualAmount | number:'1.2-2'}}</td>
            <td>{{comparisonAmount.difference | number:'1.2-2'}}</td>
        </tr>
    </tbody>
</table>
