<h3>{{categorizedAmounts.parentCategory}}: {{categorizedAmounts.total}}</h3>
<table>
    <thead>
        <tr>
            <th (click)="sortItems('category')">Category</th>
            <th (click)="sortItems('amount')">Amount</th>
        </tr>    
    </thead>
    <tbody>
        <tr *ngFor="let categorizedAmount of categorizedAmounts.categorizedAmounts">
            <td>{{categorizedAmount.category | uppercase}}</td>
            <td>{{categorizedAmount.amount | number:'1.2-2'}}</td>
        </tr>
    </tbody>
</table>
